* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a4a4c0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.card {
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}

.card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.content-section {
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
}

.content-section h2 {
    color: #fff;
    font-size: 30px;
}

.content-section p {
    font-size: 16px;
    color: #ddd;
    margin: 15px 0px;
}

.content-section button {
    background-color: #2249d7;
    color: #fff;
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    transition: .3s ease;
    margin-top: 0px;
}

.content-section button:hover {
    background-color: #ac27be;
    cursor: pointer;
}