html, body {
    height: 90vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    font-family: 'Roboto', sans-serif;
}

.group {
    position: relative;
}

.input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 185px;
    border: none;
    border-bottom: 1px solid #6c6c6c;
    background-color: transparent;
    color: #fff;
}

.input:focus {
    outline: none;
}

label {
    color: #999999;

    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input:focus ~ label, .input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #60e944;
}

.bar {
    position: relative;
    display: block;
    width: 200px;
}

.bar::before, .bar::after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #60e944;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar::before {
    left: 50%;
}

.bar::after {
    right: 50%;
}

.input:focus ~ .bar::before, .input:focus ~ .bar::after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 0px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.input:focus ~ .highlight {
    animation: input-focus .5s ease;
}

@keyframes input-focus {
    from {
        background: #60e944;
    }
    to {
        width: 185px;
        background: transparent;
    }
}