@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #010615;
}

.container {
    position: relative;
    display: flex;
    padding: 80px 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}

.card {
    position: relative;
    width: 350px;
    height: 180px;
    background: #fff;
    transition: .5s;
}

.card:hover {
    height: 450px;
}

.card .lines {
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
}

.card .lines::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent, #45f3ff, #45f3ff, #45f3ff, transparent);
    animation: animate 4s linear infinite;
    animation-play-state: paused;
}

.card:hover .lines::before {
    animation-play-state: running;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.card .lines::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: #292929;
}

.card .imgBox {
    position: absolute;
    top: -60px;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translateX(-50%);
    background: #060c21;
    transition: .5s;
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover .imgBox {
    top: 25px;
    width: 200px;
    height: 200px;
}

.card .imgBox::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%, -50%);
    background: linear-gradient(transparent, #ff3c7b, #ff3c7b, #ff3c7b, transparent);
    animation: animate2 6s linear infinite;
    animation-play-state: paused;
}

.card:hover .imgBox::before {
    animation-play-state: running;
}

@keyframes animate2 {
    0% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.card .imgBox::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: #292929;
}

.card .imgBox img {
    position: absolute;
    width: 100px;
    z-index: 1;
    filter: invert(1);
    opacity: 0.5;
    transition: .5s;
}

.card:hover .imgBox img {
    opacity: 1;
}

.card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.card .content .details {
    padding: 30px 20px;
    text-align: center;
    width: 100%;
    transition: .5s;
    transform: translateY(140px);
}

.card:hover .content .details {
    transform: translateY(0px);
}

.card .content .details h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #45f3ff;
    line-height: 1.2rem;
}

.card .content .details p {
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.card .content .details a {
    display: inline-block;
    padding: 8px 15px;
    background-color: #45f3ff;
    color: #292929;
    margin-top: 10px;
    font-weight: 500;
    text-decoration: none;
    opacity: 0;
    transition: .5s;
}

.card:hover .content .details p,
.card:hover .content .details a{
    opacity: 1;
}